
<h3>Please sign in to the waiting list</h3> 


<h1>What service are you here for?</h1>
<%text_field(:post, :service, size: 20)%> <input type="text" id="post_title" name="post[title]" size="20" />
<br/>
<br/>
<br/>

<%= link_to "Signin", signincustomer_path, class: "btn btn-lg btn-primary button" %>
    
   