 <% provide(:title, "Guess") %>
 <style>
   h1 { color: #d54d7b; font-family: "Great Vibes", 
cursive; font-size: 50px; line-height: 160px; font-weight: normal;
margin-bottom: 0px; margin-top: 40px; text-align: center;
text-shadow: 0 1px 1px #fff; }
 </style>
 
 <div class="row animated fadeInDownBig">
  <div class="col-md-6 col-md-offset-3">

<h1>Please sign in below</h1>

<%= render 'form' %>
</div>
</div>
