 <% provide(:title, "Choose") %>
 
 <style>
body
{


}
 .red
 {
     background-color:#6699FF;
 }
 h1 { color: #d54d7b; font-family: "Great Vibes", 
cursive; font-size: 50px; font-weight: normal;
 text-align: center;
text-shadow: 0 1px 1px #fff; }
.normal
{
 margin-right:200px;
}
.normal1
{
 margin-left:100px;
}
.normal2
{
 margin-right:200px;
}
 
 </style>

<br/><br/><br/><br/>
<br/><br/><br/><br/>









                        <div class="normal animated fadeInLeft"><div class="center jumbotron2">
 <%= link_to(image_tag(image_path('female-shadow-fill-circle-512.png'), 
                         class: 'image-responsive'), :new_customer,  :method => :get) %><h1>Sign in as Guess</h1></div></div>
                         
                         <div class="normal1 animated fadeInRight"><div class="center jumbotron2 ">
 <%= link_to(image_tag(image_path('11070428-sign-up-sign-icon-registration-symbol.png'), 
                         class: 'image-responsive'), signup_path,  :method => :get) %><h1>Sign Up</h1> </div></div>
                         
                         <div class="normal2 animated fadeInLeft"><div class="center jumbotron2 ">
 <%= link_to(image_tag(image_path('entrance_y_window_trash_sign_in-512.png'), 
                         class: 'image-responsive'), signin_path,  :method => :get) %> <h1>Sign In</h1></div></div>
                         
                         


